sudo: false
language: node_js
cache:
  directories:
  - node_modules
notifications:
  email: false
node_js:
- '6'
before_install:
- npm i -g npm@^2.0.0
before_script:
- npm prune
after_success:
- npm run semantic-release
branches:
  except:
  - /^v\d+\.\d+\.\d+$/
env:
  global:
    secure: yIZEqY5oFAQoBbirWC+T3iP5+id+6gnaQeY5imG/UeesE85JADQrNUOxLsZ/aG9KXyz0Hioh3PbPGcLHtiAvqfIN4I/YK9RR1py2tBkzABkJoFs/mTxLzGh6Cy+4qTYj8rJVd+YHebHqi9aTrg1ungAGQSUtKTmlmiVnYv3Se16F3aCprsnNZ50tcvzTzLqKtwcT0H7nJDBDoM7XXbNbx/KCDDyEsRaDeOcN4QJWE7wG05PRIcKSkFJxd10REtV+1WHO7LLSAVKOGu+5ORa6GRHKAm1iiHTpbsipXXeZCJ4ZhaOaFlmbv65PDHaVUD3iLHKumwex93KcnSENV3fiRajQcFs/5TOMrus3xNlCw+6IDeBmtd03clSOfZEKStgLEGovc3tuHEoveX2tEkMC/5hvyuFiG2VIvTfcjj12X6vTt0a08KD7iP/2N+sjLYB4Y0/yib/fLaG+kVNwUchYsAbx7gRCNvVGTsaCUIf+vrbQUMuM+ZgtfMxathvOeJjcyHVdtcvGz3hNaouKk3REDFlWdr3S5aS8f2oipLAPuk52Ec2AkQLMCmorNgCXssTbFUYtyVnmIoDQYsK39icTyB1CpmsXTrt4nMcOnNbXRSHYQa3wnQwCIKBP3e/HCVmLIbSRgL+boWp2GZktVzg/ATV40kTh8CXBizSQTUuSHrM=
