[data-demo-linker-item] {
    cursor: pointer;
    outline: 1px solid mediumvioletred;
}
[data-demo-linker-item]:before {
    content: attr(data-demo-linker-item);
    position: absolute;
    background-color: mediumvioletred;
    color: white;
    font-size: 1rem;
    padding: 2px 5px;
    z-index: 1000;
}
[data-demo-linker-item]:hover {
    outline-color: darkturquoise;
    outline-width: 2px;
}
[data-demo-linker-item]:hover:before {
    background-color: darkturquoise;
}